<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">AAAAAAAAAAAAAAH SEI GAY</div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">AAAAAAAAAAAAAH SEI DI NUOVO GAY</div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header">
          <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">AAAAAAAAAAH SEI SEMPRE GAY</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="button-container">
      <ion-button class="round-button color1" (click)="playAudio(1)">Che te fatt?</ion-button>
      <ion-button class="round-button color2" (click)="playAudio(2)">Afacc ro cazz</ion-button>
      <ion-button class="round-button color3" (click)="playAudio(3)">Salutm a sort</ion-button>
      <ion-button class="round-button color4" (click)="playAudio(4)">I signori</ion-button>
      <ion-button class="round-button color5" (click)="playAudio(5)">Ua m'è bell</ion-button>
      <ion-button class="round-button color6" (click)="playAudio(6)">Loffa</ion-button>
      <ion-button class="round-button color7" (click)="playAudio(7)">Marooo</ion-button>
      <ion-button class="round-button color8" (click)="playAudio(8)">Notte</ion-button>
      <ion-button class="round-button color9" (click)="playAudio(9)">Agg capit</ion-button>
    </div>
  </ion-content>
</div>
